.product {
	width: 300px;
	height: 509px;
	border-radius: 8px;
	border: 1px solid #95a0a7;
    position: relative;
}
.product img {
	width: 286px;
	height: 286px;
	border-radius: 8px;
	padding: 8px 7px 0px 7px;
}
.product-info {
	margin-left: 14px;
}
.product-name {
	margin-top: 12px;
	margin-bottom: 0px;
	color: #0e161a;
	font-family: Lato;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.032px;
}
.product-price {
	color: #0e161a;
	font-family: Lato;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.026px;
	margin-top: 11px;
	margin-bottom: 0px;
}
.product-manufracture {
	color: #2a414f;
	font-family: Lato;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.048px;
	margin-top: 47px;
	margin-bottom: 0px;
}
.product-ratting {
	color: #2a414f;
	font-family: Lato;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.048px;
	margin-top: 11px;
	margin-bottom: 0px;
}
.btn-cart {
	width: 300px;
	height: 48px;
	border-radius: 0px 0px 8px 8px;
	border: 1px solid #95a0a7;
	background: #ffe0b3;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: orange;
}
